include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include politihub *.css
recursive-include politihub *.csv
recursive-include politihub *.html
recursive-include politihub *.ico
recursive-include politihub *.js
recursive-include politihub *.json
recursive-include politihub *.md
recursive-include politihub *.png
recursive-include politihub *.py
recursive-include politihub *.svg
recursive-include politihub *.txt
recursive-exclude politihub *.pyc